# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry / VirtualEnvs
.venv/
poetry.lock

# Ignorer les gros fichiers de données
*.csv
data/
raw_recipes.csv

# Ignorer la Base de Données
*.db
*.sqlite3
smartretail.db

# Ignore les artefacts de ML
mlruns/
models/
reports/
*.pkl
*.joblib
*.h5

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store