# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry / VirtualEnvs
.venv/
poetry.lock

# Ignorer les gros fichiers de données
*.csv
raw_recipes.csv

# Ignorer la Base de Données


# Ignore les artefacts de ML
mlruns/
mlruns_old/
reports/
*.pkl
*.joblib
*.h5
catalogue-*.whl

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/